<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="app">
        <h1>리뷰 사이트</h1>
            <ul>
                <li>
                    <a class="btn btn-lg btn-secondary" href="/reviews">전체 리뷰 목록</a>
                </li>
                <li>
                    <a class="btn btn-lg btn-secondary" href="/reviews/search">조건으로 검색하기</a>
                </li>
            </ul>
    </div>
</div>

</body>
</html>