<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/posts/save" role="button" class="btn btn-primary"> 글 등록하기</a>
    <li th:if="${userName}">
        <span id="user" th:text="|Logged in as ${userName}|">Name</span>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
    </li>
    <li th:unless="${userName}">
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    </li>
</div>
</body>
</html>