<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트그램</title>
    <style>
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <main class="loginMain">
        <section class="login">
            <article class="login__form__container">
                <div class="login__form">
                    <h1><img th:src="@{/images/log.jpg}" alt=""/></h1>
                    <div class="login__horizon">
                        <div class="or" style="height: 40px; width: 200px; font-size: 17px">
                            <b>친구들의 사진과 동영상을 보려면<br>가입하세요.</b>
                        </div>
                    </div>

<!--                    register input-->
                    <form class="login__input" action="/auth/signup" th:action th:object="${signupDto}" method="post">
                            <input type="text" name="username" placeholder="아이디" maxlength="30" required="required"/>
                            <input type="password" name="password" placeholder="패스워드" required="required"/>
                            <input type="email" name="email" placeholder="이메일" required="required" th:field="*{email}" th:errorclass="field-error"/>
                            <div class="field-error" th:errors="*{email}">
                                이메일 형식 오류
                            </div>
                            <input type="text" name="name" placeholder="이름" required="required"/>
                        <button>가입</button>
                    </form>
                </div>

<!--                already has id-->
                <div class="login__register">
                    <span>계정이 있으신가요?</span>
                    <a href="/auth/signin">로그인</a>
                </div>
            </article>
        </section>
    </main>
</div>





</body>
</html>