<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
<link th:href="@{/css/kwon.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

// <!--<li th:text="|인가코드 = ${userDto.user.profileImageUrl}|">code</li>-->
<section class="profile">
    <div class="profileContainer">
        <!--        user image-->
        <div class="profile-left">
            <div class="profile-img-wrap story-border" onclick="popup('.modal-image')">
                <form id="userProfileImageForm">
                    <input type="file" name="profileImageFile" style="display: none;" id="userProfileImageInput"/>
                </form>
                <img class="profile-image"  th:src="|/upload/${userDto.user.profileImageUrl}|" onerror="this.src='/images/person.jpeg'" id="userProfileImage"/>
            </div>
        </div>
    </div>

<!--    유저 정보 및 사진등록 구-->
    <div class="profile-right">
        <div class="name-group">
            <h2 th:text="${userDto.user.name}"></h2>
            <li th:if="${userDto.pageOwnerState}">
                <button class="cta" onclick="location.href='/image/upload'">업로드</button>
                <button class="modi" onclick="popup('.modal-info')">
                    <i class="fas fa-cog"></i>
                </button>
            </li>
            <li th:unless="${userDto.pageOwnerState}">
                <li th:if="${userDto.subscribeState}">
                    <button class="cta blue" onclick="toggleSubscribe(${userDto.user.id}, this)">구독취소</button>
                </li>
                <li th:unless="${userDto.subscribeState}">
                    <button class="cta" onclick="toggleSubscribe(${userDto.user.id}, this)">구독하기</button>
                </li>
            </li>
        </div>

        <div class="subscribe">
            <ul>
                <li><a href="">게시물 : <span th:text="${userDto.imageCount}"></span></a></li>
                <li><a href="javascript:subscribeInfoModalOpen(${userDto.user.id}});">팔로잉 : <span th:text="${userDto.subscribeCount}"></span></a></li>
            </ul>
        </div>
        <div class="state">
            <h4 th:text="${userDto.user.bio}">자기소개</h4>
            <h4 th:text="${userDto.user.website}">사이트</h4>
        </div>
    </div>
</section>

<!--게시물-->
<section id="tab-content">
<!--    게시물 container-->
    <div class="profileContainer">
        <div id="tab-1-content" class="tab-content-item show">
<!--            grid array-->
            <div class="tab-1-content-inner">
<!--                items-->
                <th:block th:each="image : ${userDto.user.images}">
                    <div class="img-box">
                        <a href="/image/image"><img th:src="/upload/${image.postImageUrl}"></a>
                        <div class="comment">
                            <a href="/image/image" class=""><i class="fas fa-heart"/><span th:text="${image.likeCnt}"></span> </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</section>


<!--logout and info change-->
<div class="modal-info" th:onclick="modalInfo()">
    <div class="modal">
        <button th:onclick="location.href eq '/user/1/update'">프로필 변경</button>
        <button th:onclick="location.href eq '/logout'">로그아웃</button>
        <button th:onclick="closePopup('.modal-info')">취소</button>
    </div>
</div>


<!--profile image change-->
<div class="modal-image" th:onclick="modalImage()">
    <div class="modal">
        <p>프로필 사진 변경</p>
        <button th:onclick="profileImageUpload(${userDto.user.id}, ${principal.user.id})">사진 업로드</button>
        <button th:onclick="closePopup('.modal-image')">취소</button>
    </div>
</div>


<div class="modal-subscribe">
    <div class="subscribe">
        <span>팔로잉</span>
        <button th:onclick="modalClose()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="subscribe-list" id="subscribeModalList">

    </div>
</div>

</body>
</html>